.section {
  padding: 2rem 0;
  display: flex;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
}

.main {
  display: flex;
}

.sidebar {
  margin: 1rem;
  width: calc(30%);

  &__creators {
    margin-bottom: 0;
  }
}

.main-content {
  margin: 0 1rem;
  width: calc(70%);
}

.grid {
  display: flex;

  &-item {
    margin: 1rem;
  }
}

.comics {
  &-btn {
    background: $c-nav-bckgrnd;
    color: $c-white;
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    width: 100%;
  }
}


.character {
  display: flex;
  flex-wrap: wrap;

  &-item {
    padding: 1rem;
    flex-basis: calc(100% / 4);

    // img {
    //   height: 10rem;
    //   width: auto;
    // }
  }
}
